@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
.fa-2x {
    font-size: 2rem;
}
.fa {
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
}

.main-nav {
    background: rgba(76, 80, 84, 0.5);
    border-right: 1px solid #e5e5e5;
    position: fixed;
    z-index: 1000;
}
.main-nav>ul {
    margin: 0 0;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}
.main-nav li:hover>a,
nav.main-nav li.active>a{
    color: #fff;
    background-color: #919191;
}

.main-nav .nav-text, .main-nav li>a{
    font-family: 'Roboto', sans-serif;
    padding-top: 30px ;
    padding-left: 15px;
    font-size: 1.25rem;
}

.main-nav li>a {
    border-collapse: collapse;
    border-spacing: 0;
    color: white;
    font-size: 1.03rem;
    text-decoration: none;
}
.icon:first-child{
    margin-top: 50%;
    padding: 7px;

}
@media (min-width:35.1em) {
    .fa{
        display: table-cell;
        width: 5rem;
        height: 5rem;
    }

    .main-nav:hover,
    nav.main-nav.expanded {
        width: 15em;
        overflow: visible;
    }

    .main-nav{
        top: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        width: 5rem;
        overflow: hidden;
        -webkit-transition: width .05s linear;
        transition: width .05s linear;
        -webkit-transform: translateZ(0) scale(1, 1);
    }

    .main-nav li {
        position: relative;
        display: block;
        width: 18rem;
    }
    .main-nav li>a {
        position: relative;
        display: table;
        -webkit-transform: translateZ(0) scale(1, 1);
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
    }

    .main-nav .nav-text {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 10rem;
    }
    .icon{
        padding: unset;
        margin: unset;
    }
    
}


@media (max-width:35em) {

    .main-nav {
        background: rgba(76, 80, 84, 0.5);
        border-right: 1px solid #e5e5e5;
        position: fixed;
        margin: 0;
        left: 0;
        bottom: 0;
        /*height: 5em;*/
        width: 100%;
    }

    .main-nav ul{
        display: table;
        width: 100%;
    }

    .main-nav li{
        float: left;
        width: 25%;
        list-style-type: none;
        text-align: center;
    }

    .main-nav a{
        display: block;
        padding: 5px;
        height: 74px;
    }

    .main-nav i, .main-nav span{
        display: block;
    }

    .main-nav span{
        font-size: 14px;
    }
    .icon:first-child{
        padding: unset;
        margin: unset;
    }

    .main-nav .nav-text, .main-nav li>a{
        font-family: 'Roboto', sans-serif;
        padding: unset;
        font-size: unset;
    }
}


