.weatherDetails {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  width: 60%;
}

.todaysWeather {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 1px solid whitesmoke;
  border-radius: 12px;
  max-width: 500px;
  padding: 20px;
  margin: 10px 0;
}

.weeklyWeather {
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
  border: 1px solid whitesmoke;
  border-radius: 12px;
  padding: 20px;
  margin: 10px 0;
}
th {
  font-weight: 550;
}

th,
th,
td {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}

.weekDays {
  text-align: left;
}
.city {
  font-size: 2rem;
}

.temp {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.location-temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.date {
  text-align: left;
}

.date > h2 {
  font-weight: 400;
  margin: 4px;
}

.weather-infos {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 0px;
  padding: 10px;
}
.weather-info {
  text-align: left;
  font-size: 0.9rem;
  padding: 4px;
  margin: 3px;
}

.weather-info-title {
  display: block;
  margin-bottom: 10px;
}
