.weatherDetails {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  width: 60%;
}

.todaysWeather {
  width: 100%;
  padding: 20px;
  max-width: 500px;
  border: 1px solid whitesmoke;
  border-radius: 12px;
  margin: 10px 0;
}

.weeklyWeather {
  border: 1px solid whitesmoke;
  padding: 20px;
  justify-content: center;
  border-radius: 12px;
  margin: 10px 0;
}
th {
  font-weight: 550;
}

th,
th,
td {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.weekDays {
  text-align: left;
}

h1 {
  font-size: 32px;
}

.temp > h1 {
  font-size: 64px;
  font-weight: 500;
}

.location-temp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.date {
  text-align: left;
}

.date > h2 {
  font-weight: 400;
  margin: 4px;
}

.weather-infos {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
  justify-content: space-between;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, 1fr 1fr 2fr 1fr);
  gap: 10px;
  align-items: flex-start;
}
.weather-info {
  font-size: 0.9rem;
  padding: 4px;
  text-align: left;
  display: inline block;
}
