
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Indie+Flower&display=swap');

.trip{
    top: 20px;
    width: 80%;
}
.placesContainer{
    text-align: center;
    display: grid;
    grid-template-areas: 'auto auto auto auto';
    font-weight: bold;
}
.weatherTrip{
    font-size: 3rem;
}
.nameTrip{
    font-size: 3rem;
}
.district{
    font-size: 1.5rem;
}
.conatinerTrip{

    font-family: 'IM Fell English SC', serif;
    background: rgba(203, 209, 212, 0.3);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transition: 0.4s ease-in;
    position: relative;
    max-width: 262px;
    border-radius: 10px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    overflow: hidden;

}
.conatinerTrip:hover{
    border: 4px solid black;
    transition: 0.4s ease-out;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: translateY(20px);
    color: white;
    cursor:pointer
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
}
.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
}

.conatinerTrip:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}
.conatinerTrip:hover:before {
    transform: scale(21);
}


@media (max-width: 1250px) {

    .placesContainer{
        grid-template-areas: 'auto auto auto';

    }
    @media (max-width: 1000px) {
        .trip{
            margin-left:4vw;
        }
        .placesContainer{
            grid-template-areas: 'auto auto';
        }
    }@media (max-width: 750px) and (min-width: 650px ) {
        .trip{
            margin-left: 25vw;
        }
        .placesContainer{
            grid-template-areas: 'auto';
        }
    }
    @media (max-width: 500px) {

        .trip{
            margin-left: 20vw;
        }
        .placesContainer{
            grid-template-areas: 'auto';

        }
    }
}